<div class='container'>
  <h2>Modifier votre compte </h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :avatar %>
      <%= f.input :avatar_cache, as: :hidden %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email, required: true, autofocus: true %>

      <%= f.input :password, autocomplete: "off", hint: "Laissez blanc si vous ne changez pas de mot de passe", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "Veuillez taper votre mot de passe pour modifier votre profil", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Modifier" %>
    </div>
  <% end %>


  <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sure ?" }, method: :delete %></p>

  <%= link_to "Retour", :back %>
</div><br><br>
