<div class='container'>
  <div class="row">
    <h3> Demande de location envoyé </h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Mannequin</th>
          <th>Motif</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings_done.each_with_index do |booking, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= booking.product.first_name %> <%= booking.product.last_name %></td>
            <td><%= booking.description %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <td><%= booking.status.capitalize %></td>
            <td>
              <%= link_to 'Supprimer', booking_path(booking), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='row'>
    <h3> Demande de location reçu </h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Mannequin</th>
          <th>Motif</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings_receive.each_with_index do |booking, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= booking.product.first_name %> <%= booking.product.last_name %></td>
            <td><%= booking.description %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <td><%= booking.status.capitalize %></td>
            <td>
              <% if booking.status.upcase == 'EN ATTENTE'%>
                <%= link_to 'Accepter |', booking_accept_path(booking)%>
                <%= link_to 'Refuser', booking_refuse_path(booking) %>
              <% else %>
                <%= link_to 'Supprimer', booking_path(booking), method: :delete %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>