<div class='container' id='container'>
  <div class='card-wrapper'>
    <div class='main-window' id='main-window'>
      <%= link_to product_path(product) do %>

        <div class='user-image' style='background: url(<%= cl_image_path product.photo.url(:thumbnail)%>);'>
          <div class='username'><%= "#{product.first_name} #{product.last_name}" %></div>
          <div class='price username'><%= "#{product.price} €" %></div>
        </div>
      <% end %>
      <div class='user-info'>
        <div class='quote'>"
          <%= product.description.first(70) %>
          <%= "..." if product.description.length > 70 %>"
        </div>
      </div>

      <div class='social-info'>
        <div class='social-info-elm'>Taille<br><span class='lg'><%= product.height %></span></div>
        <div class='social-info-elm'>Poids<br><span class='lg'><%= product.weight %></span></div>
        <div class='social-info-elm'>Ville<br><span class='lg'><%= product.city.first(10) %></span></div>
      </div>
    </div>
  </div>
</div>
