<div class="container">
  <div class="row">

    <!-- Product Details -->
    <div class='col-xs-12 col-md-3 product-sidebar'>
      <div class='sticky-content'>
        <%= cl_image_tag @product.photo, class:'product-image'  %>
        <a href='#description'><div class='ancre-menu'>Description</div></a>
        <a href='#photos'><div class='ancre-menu'>Photos</div></a>
        <a href='#reviews'><div class='ancre-menu'>Reviews</div></a>
        <a href='#map-product'><div class='ancre-menu'>Maps</div></a>
      </div>
    </div>

    <!-- Main Content -->
    <div class='col-xs-12 col-md-6'>
      <div class='card'>
        <div class='card-title' id='description' >Description</div>
        <p> <%= @product.description %> </p>
        <div class='social-info'>
          <div class='social-info-elm'>Taille<br><span class='lg'><%= @product.height %></span></div>
          <div class='social-info-elm'>Poids<br><span class='lg'><%= @product.weight %> kg</span></div>
          <div class='social-info-elm'>Age<br><span class='lg'><%= @product.age %> ans</span></div>
          <div class='social-info-elm'>Yeux<br><span class='lg'><%= @product.eyes.capitalize %></span></div>
          <div class='social-info-elm'>Cheveux<br><span class='lg'><%= @product.hair.capitalize %></span></div>
        </div>
      </div>

      <div class='card'>
        <div class='card-title'>
          Avis
          <button type="button" class="btn btn-danger" style='float:right;' data-toggle="modal" data-target="#myModal">Ajouter votre avis</button> 
        </div>
        
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter un avis</h4>
              </div>
              <div class="modal-body">
                <%= simple_form_for [@product, @review] do |f| %>
                  <%= f.input :content %>
                  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
                  <%= f.input :product_id, :as => :hidden, :input_html => { :value => @product.id } %>
                  <%= f.input :rating %>
                  <%= f.submit class:'btn btn-danger' %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>

          </div>
        </div>

  

        <% if @reviews.count > 0 %>
          <% @reviews.each do |review| %>
            <%= render 'shared/review', review: review %>
          <% end %>
        <% else %>
          <p> Aucun avis pour le moment </p>
        <% end %>
      </div>

      <div class='card'>
        <div class='card-title' id='photos'>Photos</div>
        <ul id="box-container">
          <li class="box">
            <a href="https://images.unsplash.com/photo-1494354205675-139c8101dfa5?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" class="swipebox" title="Fog">
              <img src="https://images.unsplash.com/photo-1494354205675-139c8101dfa5?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="image">
            </a>
          </li>
          <li class="box">
            <a href="https://images.unsplash.com/photo-1494354205675-139c8101dfa5?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" class="swipebox" title="City">
              <img src="https://images.unsplash.com/photo-1494354205675-139c8101dfa5?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="image">
            </a>
          </li>
          <li class="box">
            <a href="https://images.unsplash.com/photo-1494354205675-139c8101dfa5?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" class="swipebox" title="Street">
              <img src="https://images.unsplash.com/photo-1494354205675-139c8101dfa5?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="image">
            </a>
          </li>
        </ul>
      </div>

      <div class='card'>
        <div class='card-title' id='map-product'>Localisation</div>
        <%= render "products/map_box", marker_hash: @marker_hash %>
      </div>
    </div>

    <!-- Reservation -->
    <div class='col-xs-12 col-md-3 no-padding'>
      <div class='sticky-content card'>
        <div class='card-title'>Reservation</div>

        <%= simple_form_for [@product, @booking] do |f|%>
          <%= f.input :description, as: :string, label: 'Motif de la reservation' %>
          <label class='text-center'>Du</label>
          <%= f.date_field :start_date, class:'form-control'%>
          <label class="text-center">Au</label>
          <%= f.date_field :end_date, class:'form-control'%>
          <%= f.input :product_id, as: :hidden, input_html: { value: @product.id } %>
          <%= f.input :status, as: :hidden, input_html: { value: "En attente" } %>
          <%= hidden_field_tag "action_name", action_name %>
          <%= f.submit class:'btn btn-danger book-btn'%><br>
        <% end %>

      </div>
    </div>
  </div>
</div>

